<div class="post">
    <div class="header">
        <h1>Post Title</h1>

        <button routerLink="/" class="btn btn-link">На главную</button>
    </div>

    <div class="info">
        <strong>Тут автор</strong>
        <small>12.09.2012</small>
    </div>

    <div>
        <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Incidunt, omnis?Lorem ipsum dolor sit amet consectetur adipisicing elit. Suscipit perferendis sit, ut fuga totam fugiat quod esse illo perspiciatis inventore quidem quas cum ex maxime facere quaerat rem reprehenderit similique harum quam eveniet atque! Fugiat quidem repellendus voluptates ipsa deserunt?</p>
        <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Incidunt, omnis?Lorem ipsum dolor sit amet consectetur adipisicing elit. Suscipit perferendis sit, ut fuga totam fugiat quod esse illo perspiciatis inventore quidem quas cum ex maxime facere quaerat rem reprehenderit similique harum quam eveniet atque! Fugiat quidem repellendus voluptates ipsa deserunt?</p>
        <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Incidunt, omnis?Lorem ipsum dolor sit amet consectetur adipisicing elit. Suscipit perferendis sit, ut fuga totam fugiat quod esse illo perspiciatis inventore quidem quas cum ex maxime facere quaerat rem reprehenderit similique harum quam eveniet atque! Fugiat quidem repellendus voluptates ipsa deserunt?</p>
        <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Incidunt, omnis?Lorem ipsum dolor sit amet consectetur adipisicing elit. Suscipit perferendis sit, ut fuga totam fugiat quod esse illo perspiciatis inventore quidem quas cum ex maxime facere quaerat rem reprehenderit similique harum quam eveniet atque! Fugiat quidem repellendus voluptates ipsa deserunt?</p>
        <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Incidunt, omnis?Lorem ipsum dolor sit amet consectetur adipisicing elit. Suscipit perferendis sit, ut fuga totam fugiat quod esse illo perspiciatis inventore quidem quas cum ex maxime facere quaerat rem reprehenderit similique harum quam eveniet atque! Fugiat quidem repellendus voluptates ipsa deserunt?</p>
    </div>
    
</div>